<app-navbar></app-navbar>
<app-panner [title]="'Quizzes'"></app-panner>
<main class="xs:p-10 md:p-20 flex xs:flex-col lg:flex-row">
  <div>
    <h2 class="font-semibold text-3xl uppercase">Filter</h2>
    <ul class="divide-y-2">
      <li class="py-4">Science</li>
      <li class="py-4">Technology</li>
      <li class="py-4">Engineering</li>
      <li class="py-4">HTML</li>
      <li class="py-4">Java</li>
    </ul>
    <div class="flex space-x-4 mt-5">
      <label class="c flex space-x-2">
        <input (change)="changeDifficulty()" type="checkbox" [(ngModel)]="easy" checked="checked">
        <div class="checkmark"></div>
        <span class="inline-block">Easy</span>
      </label>
      <label class="c flex space-x-2">
        <input (change)="changeDifficulty()" type="checkbox" [(ngModel)]="medium" checked="checked">
        <div class="checkmark"></div>
        <span class="inline-block">Medium</span>
      </label>
      <label class="c flex space-x-2">
        <input (change)="changeDifficulty()" type="checkbox" [(ngModel)]="hard" checked="checked">
        <div class="checkmark"></div>
        <span class="inline-block">Hard</span>
      </label>
    </div>
  </div>
  <div class="w-full">
    <div [ngClass]="!loading ? 'justify-between':'justify-end'" class="flex xs:flex-col sm:flex-row items-center xs:space-y-4 md:space-y-0 xs:mt-10 lg:mt-0">
      <div class="flex space-x-2 xs:ml-2 sm:ml-24" *ngIf="!loading">
        <button (click)="grid=true">
          <div class="grid grid-cols-2 gap-1">
            <div class="w-[5px] h-[5px] bg-black"></div>
            <div class="w-[5px] h-[5px] bg-black"></div>
            <div class="w-[5px] h-[5px] bg-black"></div>
            <div class="w-[5px] h-[5px] bg-black"></div>
          </div>
        </button>
        <button (click)="grid=false">
          <i class="fa-solid fa-list-ul"></i>
        </button>
      </div>
      <div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
        <input (keyup)="searchForQuiz()" [(ngModel)]="searchTerm" placeholder="Search" type="search" class="input">
      </div>
    </div>
    <div [ngClass]="grid ? 'xs:grid md:grid-cols-2 xs:gap-5 md:gap-10 place-items-center px-5':'flex flex-col space-y-8 xs:px-0 md:px-24'" class="mt-10">
      <ng-container *ngIf="!loading">
        <ng-container *ngIf="filteredQuizzes">
          <div data-aos="fade-up" data-aos-duration="1000" [attr.data-aos-delay]="i * 150" *ngFor="let quiz of filteredQuizzes; let i = index">
            <app-quiz-card [quiz]="quiz"></app-quiz-card>
          </div>
        </ng-container>
        <div *ngIf="filteredQuizzes && filteredQuizzes.length === 0" class="flex justify-center items-center font-bold text-2xl h-[30vh]" data-aos="zoom-in">
          No Quizzes found!
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="loading">
      <div class="h-[200px] flex justify-center items-center">
        <div class="loader"></div>
      </div>
    </ng-container>
  </div>
</main>
<app-footer></app-footer>
