<div class="flex flex-col mt-2 px-5" >
  <ng-container>
    <div class="flex items-center space-x-2">
      <div class="relative">
        <img class="object-cover block w-[35px] h-[35px] rounded-full" [src]="comment.commenter[0].picture === 'default' ? '../../../assets/user.webp': comment.commenter[0].picture" alt="profile">
        <span *ngIf="comment.commenter[0].online && comment.commenter[0].email !== account.email" class="absolute right-0 bottom-0 border border-white w-[10px] h-[10px] rounded-full bg-green-600"></span>
      </div>

      <div class="w-full outline-none block bg-gray-200 rounded-xl p-2 relative">
        <span class="font-semibold">{{comment.commenter[0].name}}</span>
        <p class="text-sm">
          {{comment.content}}
        </p>
        <span #ref (click)="getAllReactsOfComment(comment._id)" *ngIf="comment.reacts !== 0" class="absolute right-0 bottom-0 bg-white space-x-1 rounded-full cursor-pointer px-2 border border-[#6a43ff]">
          {{comment.reacts}}
          <i *ngIf="comment.commentHasLoves" class="inline-block cursor-pointer text-red-500 text-sm fa-solid fa-heart"></i>
          <i *ngIf="comment.commentHasLikes" class="inline-block cursor-pointer text-blue-500 text-sm fa-regular fa-thumbs-up"></i>
          <i *ngIf="comment.commentHasWows" class="inline-flex cursor-pointer justify-center items-center overflow-hidden w-[15px] h-[15px] text-yellow-400 text-sm bg-black rounded-full fa-solid fa-face-surprise"></i>
        </span>
        <button class="absolute top-2 right-2" [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
          <mat-icon class="text-sm rotate-90">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button [disabled]="comment.commenter[0].email !== account.email" class="disabled:opacity-[.6]" (click)="deleteComment(comment._id,post._id)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>{{comment.commenter[0].email === account.email ? 'Delete comment' : 'Cannot delete'}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="flex items-center space-x-2 pl-12 relative">
      <button (mouseout)="handleReactMenuOfCommentMouseOut()" (mouseover)="handleReactMenuOfCommentMouseOver()" class="text-sm">Like</button>
      <button (click)="openReplyField()" class="text-sm">Reply</button>
      <span class="text-xs text-black/50">{{comment.commentedAt | date}}</span>
      <app-reacts-popup [isOpened]="openReactMenuOfComment" (openReactMenu)="openReactMenuOfComment=$event" (reactHappened)="detectChanges()" [post]="post" [comment]="comment" [account]="account" [type]="'comment'"></app-reacts-popup>
    </div>
    <div *ngIf="comment.replies" (click)="getReplies(comment._id)" class="pl-10 group cursor-pointer flex items-center space-x-2">
      <i class="fa-solid fa-share text-violet-500"></i> <span class="inline-block group-hover:underline">{{comment.replies}} Replies</span>
    </div>
  </ng-container>
  <!-- Replies -->
  <ng-container *ngIf="replies">
    <ng-container *ngFor="let reply of replies; let k = index">
      <app-reply [attr.data-aos-delay]="100*k" (showReply)="openReplyField()" [reply]="reply" [comment]="comment" [account]="account" [post]="post" (replyDeleted)="getReplies(comment._id)" (reactHappened)="getReplies(comment._id)"></app-reply>
    </ng-container>
  </ng-container>
  <!-- Reply Input -->
  <ng-container *ngIf="showReplyInput">
    <div class="flex p-5 items-center space-x-2 pl-10">
      <img class="object-cover block w-[35px] h-[35px] rounded-full" [src]="account && account.picture === 'default' ? '../../../assets/user.webp': account && account.picture" alt="profile">
      <input #replyInp (keyup.enter)="addReply(post,comment,replyInp)" [formControl]="replyContent" class="w-full outline-none block bg-gray-200 rounded-md p-2" placeholder="Write a reply.." type="text">
      <button (click)="addReply(post,comment,replyInp)" class="text-white grid place-items-center bg-[#8d46ff] rounded-full p-2">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<!-- Overlay screen -->
<div (click)="this.opened = false; this.reactListOpened = false;" [ngClass]="opened && reactListOpened ? 'opacity-[1] pointer-events-auto':'opacity-[0] pointer-events-none'" class="fixed w-full h-full left-0 top-0 bg-black/50 duration-500 flex justify-center items-center z-40"></div>

<!-- Popup of Comment reacts list -->

<ng-container *ngIf="reactsOnComment">
  <app-reacts-list [reacts]="reactsOnComment" (closePopup)="reactListOpened = $event" [isOpened]="reactListOpened"></app-reacts-list>
</ng-container>

