<mat-accordion multi="true">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="font-bold text-lg">
        {{section.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <a [routerLink]="[section._id,vid._id]" class="hover:bg-gray-100 font-semibold text-md hover:text-lg duration-300 cursor-pointer block" *ngFor="let vid of section.videos">
        - {{vid.title}}
      </a>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
