<footer class="xs:text-center lg:text-left p-12 py-24 bg-gradient-to-r from-[#6a43ff] text-white overflow-hidden to-[#8d46ff]">
  <div class="flex xs:flex-col lg:flex-row xs:space-y-10 lg:space-y-0 xs:space-x-0 lg:space-x-14">
    <div class="xs:w-full lg:w-[45%] space-y-3">
      <!-- Logo -->
      <div class="rounded-lg">
        <app-logo [color]="'white'" [size]="20"></app-logo>
      </div>
      <p class="text-gray-400">Education is the most powerful weapon which you can use to change the world.</p>
    </div>
    <div class="space-y-3">
      <h4 class="text-2xl font-semibold">Permalinks</h4>
      <ul class="space-y-4">
        <a routerLink="/" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">Home</a>
        <a routerLink="/about" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">About</a>
        <a routerLink="/courses" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">Courses</a>
        <a routerLink="/contact" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">Contact</a>
      </ul>
    </div>
    <div class="space-y-3">
      <h4 class="text-2xl font-semibold">Privacy</h4>
      <ul class="space-y-4">

        <a routerLink="/sagfdsh" class="duration-300 hover:pl-2 hover:text-gray-200 block whitespace-nowrap text-gray-400">Terms and conditions</a>
        <a routerLink="/sagfdsh" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">Privacy policy</a>
        <a routerLink="/sagfdsh" class="duration-300 hover:pl-2 hover:text-gray-200 block text-gray-400">Refund policy</a>
      </ul>
    </div>
    <div class="space-y-3">
      <h4 class="text-2xl font-semibold">Contact us</h4>
      <address class="space-y-4 text-gray-400">
        +01283861152
        hadyymohammed@gmail.com
      </address>
      <ul class="flex space-x-4 xs:justify-center lg:justify-start">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
      </ul>
    </div>
  </div>
</footer>
