<main class="p-5">
  <a class="text-white shadow-black/40 shadow-lg bg-gradient-to-r from-[#6a43ff] to-[#8d46ff] cursor-pointer rounded-md p-2 relative z-40" (click)="return()">Return</a>
  <div class="flex flex-col space-x-2 relative z-40">
      <img data-aos="fade-up" class="w-[55%] mx-auto rounded-md object-cover" [src]="imageURL.value ? imageURL.value : '../../../../../assets/placeholder.webp'" alt="p">
      <form class="flex flex-col w-full space-y-4" [formGroup]="form" action="">
      <mat-form-field data-aos="fade-up" data-aos-delay="200" class="example-full-width">
        <mat-label>Course's title</mat-label>
        <input type="text" matInput formControlName="courseTitle" placeholder="Title">
        <mat-error *ngIf="courseTitle.hasError('required')">
          Please enter the course's title
        </mat-error>
      </mat-form-field>
      <mat-form-field data-aos="fade-up" data-aos-delay="400" class="example-full-width">
          <mat-label>Image URL</mat-label>
          <input type="text" matInput formControlName="imageURL" placeholder="Image URL">
          <mat-error *ngIf="imageURL.hasError('required')">
            Please enter the image url
          </mat-error>
      </mat-form-field>
      <mat-form-field data-aos="fade-up" data-aos-delay="600" class="example-full-width">
          <mat-label>Course's Category</mat-label>
          <input type="text" matInput formControlName="courseCateg" placeholder="Image URL">
          <mat-error *ngIf="courseCateg.hasError('required')">
            Please enter the course's category
          </mat-error>
      </mat-form-field>
      <mat-form-field data-aos="fade-up" data-aos-delay="800" class="example-full-width">
          <mat-label>Course's Short desc</mat-label>
          <input type="text" matInput formControlName="courseShortDesc" placeholder="Image URL">
          <mat-error *ngIf="courseShortDesc.hasError('required')">
            Please enter the course's short desc
          </mat-error>
      </mat-form-field>
      <mat-form-field data-aos="fade-up" data-aos-delay="1000" class="example-full-width">
          <mat-label>Course's Overview</mat-label>
          <input type="text" matInput formControlName="courseOverview" placeholder="Image URL">
          <mat-error *ngIf="courseOverview.hasError('required')">
            Please enter the course's overview
          </mat-error>
      </mat-form-field>
      <mat-form-field data-aos="fade-up" data-aos-delay="1200" class="example-full-width">
          <mat-label>Course's price</mat-label>
          <input type="number" matInput formControlName="coursePrice" placeholder="Image URL">
          <mat-error *ngIf="coursePrice.hasError('required')">
            Please enter the course's price
          </mat-error>
      </mat-form-field>
    </form>
  </div>
  <button (click)="publishCourse()" class="block mx-auto bg-black text-white px-10 py-4 mt-10 mb-5">Publish The Course</button>
</main>
