<div *ngIf="type === 'post'" (mouseout)="openReactMenu.emit(false)" (mouseover)="openReactMenu.emit(true)" [ngClass]=" isOpened ? 'opacity-100 pointer-events-auto':'opacity-0 pointer-events-none'" class="absolute xs:-left-5 sm:-left-12 -top-12 flex justify-evenly rounded-md xs:w-full sm:w-2/3 duration-300 before:absolute before:border-t-[30px] before:border-t-transparent before:border-l-[#8d46ff] xs:before:hidden sm:before:block before:border-b-transparent before:border-b-[30px] before:border-l-[30px] before:w-0 before:h-0 before:left-1/2 before:translate-x-[-50%] before:rotate-90 before:top-[2.4rem] bg-white border border-[#8d46ff]">
  <button (click)="reactOnPost(post._id,{
    type: 'love',
    owner: account._id,
    belongsTo: 'post',
    postID: post._id
  },post.author[0])" class="flex items-center p-3 space-x-1 text-xl hover:scale-[1.2] duration-200">
    <i class="inline-block text-red-500 text-xl fa-solid fa-heart"></i>
    <span class="block">Love</span>
  </button>
  <button (click)="reactOnPost(post._id,{
    type: 'like',
    owner: account._id,
    belongsTo: 'post',
    postID: post._id
  },post.author[0])" class="flex items-center p-3 space-x-1 text-xl hover:scale-[1.2] duration-200">
    <i class="inline-block text-blue-500 text-xl fa-regular fa-thumbs-up"></i>
    <span class="block">Like</span>
  </button>
  <button (click)="reactOnPost(post._id,{
    type: 'wow',
    owner: account._id,
    belongsTo: 'post',
    postID: post._id
  },post.author[0])" class="flex items-center p-3 space-x-1 text-xl hover:scale-[1.2] duration-200">
    <i class="inline-flex justify-center items-center overflow-hidden w-[20px] h-[20px] text-yellow-400 text-xl bg-black rounded-full fa-solid fa-face-surprise"></i>
    <span class="block">Wow</span>
  </button>
</div>

<div *ngIf="type === 'comment'" (mouseout)="openReactMenu.emit(false)" (mouseover)="openReactMenu.emit(true)" [ngClass]="isOpened ? 'opacity-100 pointer-events-auto':'opacity-0 pointer-events-none'" class="absolute -left-12 -top-10 flex justify-evenly rounded-md xs:w-full mdm:w-3/4 sm:w-1/2 duration-300 bg-white border border-[#8d46ff]">
  <button (click)="reactOnComment(post._id,{
    type: 'love',
    owner: account._id,
    belongsTo: 'comment',
    postID: post._id,
    commentIDIfAvailable: comment._id
  },comment)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-block text-red-500 text-xl fa-solid fa-heart"></i>
    <span class="block">Love</span>
  </button>
  <button (click)="reactOnComment(post._id,{
    type: 'like',
    owner: account._id,
    belongsTo: 'comment',
    postID: post._id,
    commentIDIfAvailable: comment._id
  },comment)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-block text-blue-500 text-xl fa-regular fa-thumbs-up"></i>
    <span class="block">Like</span>
  </button>
  <button (click)="reactOnComment(post._id,{
    type: 'wow',
    owner: account._id,
    belongsTo: 'comment',
    postID: post._id,
    commentIDIfAvailable: comment._id
  },comment)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-flex justify-center items-center overflow-hidden w-[20px] h-[20px] text-yellow-400 text-xl bg-black rounded-full fa-solid fa-face-surprise"></i>
    <span class="block">Wow</span>
  </button>
</div>

<div *ngIf="type === 'reply'" (mouseout)="openReactMenu.emit(false)" (mouseover)="openReactMenu.emit(true)" [ngClass]="isOpened ? 'opacity-100 pointer-events-auto':'opacity-0 pointer-events-none'" class="absolute -left-12 -top-10 flex justify-evenly rounded-md xs:w-full mdm:w-3/4 sm:w-1/2 duration-300 bg-white border border-[#8d46ff]">
  <button (click)="reactOnReply(post._id,{
    type: 'love',
    owner: account._id,
    belongsTo: 'reply',
    postID: post._id,
    commentIDIfAvailable: reply._id
  },reply)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-block text-red-500 text-xl fa-solid fa-heart"></i>
    <span class="block">Love</span>
  </button>
  <button (click)="reactOnReply(post._id,{
    type: 'like',
    owner: account._id,
    belongsTo: 'reply',
    postID: post._id,
    commentIDIfAvailable: reply._id
  },reply)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-block text-blue-500 text-xl fa-regular fa-thumbs-up"></i>
    <span class="block">Like</span>
  </button>
  <button (click)="reactOnReply(post._id,{
    type: 'wow',
    owner: account._id,
    belongsTo: 'reply',
    postID: post._id,
    commentIDIfAvailable: reply._id
  },reply)" class="flex items-center p-2 space-x-1 text-sm hover:scale-[1.2] duration-200">
    <i class="inline-flex justify-center items-center overflow-hidden w-[20px] h-[20px] text-yellow-400 text-xl bg-black rounded-full fa-solid fa-face-surprise"></i>
    <span class="block">Wow</span>
  </button>
</div>
