<main class="xs:p-10 md:p-20 relative z-40 space-y-10">
  <div class="relative border mx-auto rounded-full xs:w-[200px] md:w-[400px] h-[30px] bg-white">
    <div
      [ngStyle]="{ width: +((timer / totalTime) * 100) + '%' }"
      class="border text-center font-bold rounded-full bg-blue-200 text-white h-[30px] bg-gradient-to-r from-[#6a43ff] to-[#8d46ff]"
    >
      {{ timer }}
    </div>
    <i
      class="absolute right-2 top-1/2 translate-y-[-50%] fa-regular fa-clock"
    ></i>
  </div>
  <h2 class="text-white font-medium">Question {{ questionNo }}/{{quiz && quiz.questions.length}}</h2>
  <h3 class="text-4xl font-bold text-white">
    {{ currentQuestion && currentQuestion.head }}?
  </h3>
  <div
    class="flex flex-col"
    *ngFor="let answer of currentQuestion && currentQuestion.answers"
  >
    <mat-radio-group [(ngModel)]="ans">
      <button class="xs:w-full md:w-1/2">
        <mat-radio-button
          class="text-left flex flex-row-reverse justify-between items-center bg-white rounded-lg w-full"
          [value]="answer"
        >
          <span>{{ answer }}</span>
        </mat-radio-button>
      </button>
    </mat-radio-group>
  </div>

  <button
  class="cssbuttons-io-button border border-black"
  (click)="nextQuestion(quiz._id,+questionNo + 1,ans)"
  *ngIf="+questionNo !== (quiz && quiz.questions.length)"
  > Next question
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button
  class="cssbuttons-io-button border border-black"
  (click)="submitQuiz(ans)"
  *ngIf="+questionNo === (quiz && quiz.questions.length)"
  > Finish Quiz
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</main>
<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
