<div [ngClass]="isOpened? 'opacity-[1] pointer-events-auto':'opacity-[0] pointer-events-none'" class="bg-white xs:w-[95%] lg:w-1/2 rounded-md p-3 fixed left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] z-50 duration-500 font-mont">
  <ul class="space-y-4 max-h-[558px] overflow-auto divide-y-2 divide-[#6a43ff]/40 pt-10">
      <li class="flex p-5 justify-between items-center" *ngFor="let react of reacts | async">
        <div class="flex items-center space-x-3">
          <img class="xs:w-[50px] xs:h-[50px] sm:w-[70px] sm:h-[70px] rounded-full object-cover" [src]="react.reacter[0].picture === 'default' ? '../../../assets/user.webp': react.reacter[0].picture" alt="photo">
          <h3 class="font-semibold">{{react.reacter[0].name}}</h3>
        </div>
        <i *ngIf="react.type ==='love'" class="inline-block text-red-500 text-3xl fa-solid fa-heart"></i>
        <i *ngIf="react.type ==='like'" class="inline-block text-blue-500 text-3xl fa-regular fa-thumbs-up"></i>
        <i *ngIf="react.type ==='wow'" class="inline-flex justify-center text-3xl items-center overflow-hidden w-[30px] h-[30px] text-yellow-400  bg-black rounded-full fa-solid fa-face-surprise"></i>
      </li>
  </ul>
  <button (click)="closePopup.emit(false)" class="absolute right-4 top-4 rounded-full flex justify-center items-center text-white bg-red-400 p-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
