<div>
  <h2 class="text-center font-semibold text-3xl mb-10 relative before:absolute before:w-[40px] before:h-[3px] before:left-1/2 before:translate-x-[-50%] before:bg-[#6a43ff] before:rounded-lg before:-bottom-2">Your Inbox</h2>
  <div class="flex flex-col divide-y-2 mt-10 max-h-[650px] overflow-auto">
    <div data-aos="fade-in" [attr.data-aos-delay]="i*100"  *ngFor="let inbox of inboxes | async; let i = index" class="duration-300 p-5 hover:bg-gray-100 relative">
      <app-inbox-card [inbox]="inbox" (inboxDeleted)="getInboxesForStudent()"></app-inbox-card>
    </div>
  </div>
</div>
<p class="text-2xl font-bold text-center mt-20" data-aos="zoom-in" data-aos-duration="800" *ngIf="inboxes && (inboxes | async)?.length === 0">
  No Inboxes Found!
</p>
