<app-navbar></app-navbar>
<app-panner [title]="'Account'"></app-panner>
<main class="xs:p-5 md:p-20 flex xs:flex-col xl:flex-row font-mont">
  <ul class="space-y-4 min-w-[300px] pr-2 border-r-2">
    <a routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="settings" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Information</span>
    </a>
    <a routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="enrolled" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Enrolled Courses</span>
    </a>
    <a routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="exams" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Taken Exams</span>
    </a>
    <a (click)="numOfUnreadMessages = 0" routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="messages" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Messages</span>
      <span [ngClass]="numOfUnreadMessages ? 'opacity-[1]':'opacity-0'" class="text-white bg-red-600 rounded-full text-xs w-[17px] block text-center duration-500">{{numOfUnreadMessages}}</span>
    </a>
    <a routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="posts" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Posts</span>
    </a>
    <a (click)="numOfUnreadRequests = 0" routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="friends" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Friends</span>
      <span [ngClass]="numOfUnreadRequests ? 'opacity-[1]':'opacity-0'" class="text-white bg-red-600 rounded-full text-xs w-[17px] block text-center duration-500">{{numOfUnreadRequests}}</span>
    </a>
    <a (click)="numOfUnreadInboxes = 0" routerLinkActive="pl-12 bg-[#8d46ff]/40 text-white" routerLink="inbox" class="p-2 flex items-center space-x-2 font-bold hover:pl-12 text-lg duration-500 hover:bg-[#8d46ff]/40 rounded-2xl">
      <span class="block">Inbox</span>
      <span [ngClass]="numOfUnreadInboxes ? 'opacity-[1]':'opacity-0'" class="text-white bg-red-600 rounded-full text-xs w-[17px] block text-center duration-500">{{numOfUnreadInboxes}}</span>
    </a>
  </ul>
  <div class="xs:px-5 xs:py-10 sm:p-10 w-full">
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
