<nav class="w-full flex justify-evenly py-4">
  <a class="text-white p-3 px-6 font-medium bg-purple-600 rounded-md" href="">Dashboard</a>
  <a class="text-white p-3 px-6 font-medium bg-purple-600 rounded-md" href="">Students</a>
  <a class="text-white p-3 px-6 font-medium bg-purple-600 rounded-md" href="">Teachers</a>
  <a class="text-white p-3 px-6 font-medium bg-purple-600 rounded-md" href="">Emails</a>
  <a class="text-white p-3 px-6 font-medium bg-purple-600 rounded-md" href="">Logout</a>
</nav>
