<ng-container *ngIf="!article">
  <div class="left-0 top-0 absolute flex items-center justify-center w-full h-full bg-black z-50">
    <app-loader></app-loader>
  </div>
</ng-container>

<ng-container *ngIf="article">
  <app-navbar></app-navbar>
  <main class="text-center xs:p-5 md:p-20 bg-gradient-to-r from-white to-[#8d46ff] font-mont">
    <img class="w-[900px] mx-auto mt-10 rounded-xl" [src]="article.image" alt="photo">
    <h2 class="text-2xl font-bold my-12">{{article.title}}</h2>
    <p>{{article.body}}</p>
    <button class="text-white shadow-black/40 shadow-lg bg-gradient-to-r from-[#6a43ff] to-[#8d46ff] rounded-full p-2 px-8 mt-12" (click)="return()">Go back</button>
  </main>
  <app-footer></app-footer>
</ng-container>
