<a [routerLink]="['../','quiz-detail',quiz._id]" class="cursor-pointer rounded-md relative overflow-hidden bg-slate-100 block">
  <div>
    <img loading="lazy" class="h-[250px] w-full object-cover" [src]="quiz.image" alt="x">
  </div>
  <div class="p-5 xs:h-fit md:h-[150px] space-y-4">
    <p class="text-gray-400">{{quiz.category}}</p>
    <h3 class="font-bold text-lg">{{quiz.name}}</h3>
    <div class="flex items-center justify-between">
      <span class="inline-block text-sm text-black/50">{{quiz.publishedAt | date}}</span>
      <span [ngClass]="quiz.difficulty === 'Hard' ? 'bg-red-500': quiz.difficulty === 'Medium' ? 'bg-yellow-600' : 'bg-green-600'" class="inline-block text-white px-2 rounded-full">{{quiz.difficulty}}</span>
    </div>
  </div>
</a>
