<div class="flex items-center space-x-2 pl-12 mt-2">
  <div class="relative">
    <img class="object-cover block w-[35px] h-[35px] rounded-full" [src]="comment.commenter[0].picture === 'default' ? '../../../assets/user.webp': reply.replier[0].picture" alt="profile">
    <span *ngIf="reply.replier[0].online && reply.replier[0].email !== account.email" class="absolute right-0 bottom-0 border border-white w-[10px] h-[10px] rounded-full bg-green-600"></span>
  </div>

  <div class="w-full outline-none block bg-gray-200 rounded-xl p-2 relative">
    <span class="font-semibold">{{reply.replier[0].name}}</span>
    <p class="text-sm">
      {{reply.content}}
    </p>
    <span (click)="getAllReactsOfReply(reply._id)" *ngIf="reply.reacts !== 0" class="absolute right-0 bottom-0 bg-white space-x-1 rounded-full cursor-pointer px-2 border border-[#6a43ff]">
      {{reply.reacts}}
      <i *ngIf="reply.replyHasLoves" class="inline-block text-red-500 text-sm fa-solid fa-heart"></i>
      <i *ngIf="reply.replyHasLikes" class="inline-block text-blue-500 text-sm fa-regular fa-thumbs-up"></i>
      <i *ngIf="reply.replyHasWows" class="inline-flex justify-center items-center overflow-hidden w-[15px] h-[15px] text-yellow-400 text-sm bg-black rounded-full fa-solid fa-face-surprise"></i>
    </span>
    <button class="absolute top-2 right-2" [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
      <mat-icon class="text-sm rotate-90">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [disabled]="reply.replier[0].email !== account.email" class="disabled:opacity-[.6]" (click)="deleteReply(reply._id,comment._id)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{reply.replier[0].email === account.email ? 'Delete reply' : 'Cannot delete'}}</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="flex items-center space-x-2 pl-24 relative">
  <button (mouseout)="handleReactMenuOfReplyMouseOut()" (mouseover)="handleReactMenuOfReplyMouseOver()" class="text-sm">Like</button>
  <button (click)="showReply.emit(true)" class="text-sm">Reply</button>
  <span class="text-xs text-black/50">{{reply.repliedAt | date}}</span>
  <app-reacts-popup [isOpened]="openReactMenuOfReply" (openReactMenu)="openReactMenuOfReply=$event" [post]="post" [comment]="comment" [reply]="reply" [account]="account" (reactHappened)="reactHappened.emit(true)" [type]="'reply'"></app-reacts-popup>
</div>


<!-- Overlay screen -->
<div (click)="this.opened = false; this.reactListOpened = false;" [ngClass]="opened && reactListOpened ? 'opacity-[1] pointer-events-auto':'opacity-[0] pointer-events-none'" class="fixed w-full h-full left-0 top-0 bg-black/50 duration-500 flex justify-center items-center z-40"></div>

<!-- Popup of Reply reacts list -->

<ng-container *ngIf="reactsOnReply">
  <app-reacts-list [reacts]="reactsOnReply" (closePopup)="reactListOpened = $event" [isOpened]="reactListOpened"></app-reacts-list>
</ng-container>
